/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
*{
font-family: "Alef Hebrew",“Helvetica Neue”,Helvetica,Arial,sans-serif !important;
}
.field-name-body img {
  max-width: 100%;
  height: auto;
}
#messages{
	z-index:99;
}
.front #messages .error{
	display: none;
}
.isotope, .isotope .isotope-item ,
.masonry, .masonry .masonry-brick {
  transition-duration: 1.5s;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

#region-branding a {  
	color:  #017b9e;
}
.logo-img {
  margin-left: 45px;
position: relative;
top: 9px;
z-index: 1;
}
#close_btn{
	background-image: url("/sites/all/themes/omega3sub/images/close_btn.png");
	width: 27px;
	height:27px;
	cursor: pointer;
}
.pager  li {
  margin: 0 1px !important;
  line-height: 10px !important;
  display: inline-block;
	border: 1px solid #bfbfbf;  	
}
.pager-current {
  font-weight: normal;
  background-color: #f9c201;
}
.pager a{
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	color: black;
}
/*
 * inline comment {
 */
.child{
	/*margin-right: 30px;*/
}
.comment-reply {
  padding: 0px !important;
  margin: 0px !important;
  display:none !important;
}
.view .comment {
  width: auto;
}
.views-field-comment-count {
  display: inline-block;
}
/*
 * footer
 * */
footer#section-footer {
  background: none repeat scroll 0 0 white;
  bottom: 0;
    width: 100%;
  padding-bottom: 5px;
 }
footer#section-footer p:last-child{
	margin-bottom: 0px;
}
/*
 * Header
 */
#zone-header{
	width: 100%;
}
img#logo {
  transform: scaleY(0.9);
}
.region-menu {
	background-color: #E1EFEF;
}
.menu li{
	list-style: none;
}
#region-menu  .menu li a {
	color: #045971;
}

.menu  li:not(.last) a:after{
content: ":";
}
#region-menu .menu li:nth-child(6) a:after {
  content: "";
}
#region-menu .menu li:nth-child(-1n+6) a.active-i {
color: #EEAA2E;
font-weight: bold;
letter-spacing: 1px;
}
#about.active-i  {
 color: #FD0640 !important;
 font-weight: bold;
}
#Partners.active-i {
  color: #547104 !important;
  font-weight: bold;
}   

#blog.active{
color: #045971 !important;
font-weight: bold;
}
#contact.active, #contact {
  color: #EEAA2E !important;
  font-size: 14px !important;
  font-weight: bold;
  vertical-align: top;
}
/*
 * zone-content
 * */
.zone-content.container-12 {
  padding-top: 20px;
}
/*
 * Isotope
 * */
/*.isotope-element.nid-141 ,
.isotope-element.nid-142 ,
.isotope-element.nid-143 ,
.grid-12 .isotope-element.nid-187 ,
.grid-12 .isotope-element.nid-144 ,
.grid-12 .isotope-element.nid-157 {
width: 212px;
height: 212px;
}*/
.hover_action{
	position: relative;
}
.hover_action .type {
	top:0px;
	bottom:auto;
}
.hover_action .title {
    bottom: 0;
    top: auto;
}
.hover_action > .type, .hover_action > .title {
    position: absolute;
    display: inline-block;
    left: 0 !important;
    right: auto;
    text-align: left;
    background: navy;
    color: white;
    padding : 3px;
    
}
.views-field.views-field-colorbox img {
 
    height: inherit;
 
}
#isotope-container{
	background: url("/sites/all/themes/omega3sub/images/reshet-bg.gif") repeat scroll 0 0 / 108.3px 108px transparent;
border: 3px solid white;
overflow: visible !important;
min-height: 320px;
}
.isotope-element{	
	background-color: transparent !important;
}
.view-reshet {
	background-color: #E5E9EC;
margin-top: 5px;
}
.draggable img {
  height: auto;
  width: 50px;
  margin: 3px 44px;
}

.isotope-element img {
  /*margin: 0 auto;*/
  text-align: center;
      height: 100% !important;
    margin: 0 auto;
    width: 100% !important;
}
.isotope-element .views-field-title{
	bottom: 2px;
	width: 100%;
}
.isotope-element[data-category=שותפים] .fadein{
	background-color:#547104 !important;
}	
.isotope-element[data-category=אודות] .fadein{
	background-color:#fd0640 !important;
}	

.isotope-element .views-field-type{
	font-weight: bold;
letter-spacing: 1px;
padding-right: 10px !important;
top: 0;
}
.isotope-element .views-field-nid{
	display: none;
}
.isotope-element .views-field-title,
.isotope-element .views-field-type{
	background-color: #045870;
left: 0;
line-height: 15px;
padding: 0 5px;
position: absolute;
text-align: left;
width: 97%;
opacity:0;
}
.isotope-element .views-field-title.fadein,
.isotope-element .views-field-type.fadein{
	opacity:1;
	transition-duration: 0.5s;
	 
}
.isotope-element .views-field-title.fadeout,
.isotope-element .views-field-type.fadeout{
	opacity:0;
	transition-duration: 1s;
	 
}
.no-canvas .isotope-element .views-field-title,
.no-canvas .isotope-element .views-field-type{
display: none;
}

.no-canvas .isotope-element .views-field-type.fadein,
.no-canvas .isotope-element .views-field-title.fadein{
	display: block !important;
}
.no-canvas .isotope-element .views-field-type.fadeout,
.no-canvas .isotope-element .views-field-type.fadeout{
	display: none !important;
}
.shadow{
	box-shadow: 0 0 0px 5px white, 0 0 10px 10px black;
}
.delayImg {opacity:0;}
#cboxOverlay {
  background: none repeat scroll 0 0 #000000;
  opacity: 0.7 !important;
}
/*.views-field-rendered-entity {
display: none;
}*/
/*
 * isotope popup
 * */
div#controls {
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 900;
}
div#controls #last ,
div#controls #prev {
	  float: right;
 }
div#controls #next {
  background: url("/sites/all/themes/omega3sub/images/arrow_left.png") repeat scroll right 0 transparent;
  float: right;
  height: 33px;
  text-indent: -999px;
  width: 20px;
  
  cursor: pointer;
}
div#controls #prev {
  background: url("/sites/all/themes/omega3sub/images/arrow_right.png") repeat scroll left 0 transparent;

  height: 33px;
  text-indent: -999px;
  width: 20px;
  
  cursor: pointer;
}
div#controls #first ,
div#controls #next {
  float: left;
}
div#controls #first {
  background: url("/sites/all/themes/omega3sub/images/arrow_left.png") repeat scroll left 0 transparent;
  height: 33px;
  text-indent: -999px;
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
}
div#controls #last {
  background: url("/sites/all/themes/omega3sub/images/arrow_right.png") repeat scroll right 0 transparent;
  height: 33px;
  text-indent: -999px;
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.ui-dialog li {
  list-style: square inside none;
}
.ui-widget-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
  background-image: none;
}
.ui-dialog .ui-dialog-titlebar{
	display:none;
}
.ui-dialog-content{
	overflow: visible !important;
	padding:10px 10px 25px !important;
}
.ui-dialog .ui-dialog-titlebar-close{
right: 20px;
top: 30px;
z-index: 100;
}
.ui-dialog header {
    position: absolute;
top: -20px;
margin: 0px;
padding: 0px;
    
}

.ui-dialog header a,
.ui-dialog header h2{
	margin: 0px;
	padding: 0px;
color: #fecb16;
text-decoration: none;
font-size: 18px;
font-weight: bold;
letter-spacing: 1px;
vertical-align: top;
line-height: 0px;
}
/*
 * .field-name-field-gallery slideshow controls
 * */
.ui-dialog .field-name-field-gallery{
	margin-bottom: 10px;
	position: relative;
}

.field-name-field-gallery #nav {
  bottom: 3px;
left: 15px;
position: absolute;
z-index: 100;

}

.field-name-field-gallery #nav .sep:last-child {
    display: none;
}
#nav span {
	display: inline !important;
}
.field-name-field-gallery #nav a{	
	color: #4f4d4d;
	font-size: 12px;
padding: 0 2px;
text-decoration: none;
}
.field-name-field-gallery #nav span:not(:first-child):before {
  content: "/";
font-size: 10px;
vertical-align: middle;
padding-left: 3px;
color: #4f4d4d;
}
.field-name-field-gallery #nav .activeSlide a{
	background-color: #fdcb04;	
}	
.ui-dialog{
	z-index: 990;
}
.ui-dialog  .view-id-project ,
.ui-dialog .field-name-field-link, 
.ui-dialog .field-name-body,
.ui-dialog .title {
  font-size: 14px;
  
}
#wrap_right{
	float: right;
  width: 60%;
}
.ui-dialog .field-name-field-link, 
#wrap_right {
  min-height: 50px;
}
.field-name-projects div{
	cursor: pointer;
}
.field-name-projects {
  float: left;
}
.ui-dialog .field-name-field-project{
	display: none;
}
.ui-dialog  .view-id-project ,
.ui-dialog .field-name-field-link{
	text-align: left;
}
.ui-dialog .title{
color: #4F4D4D;
font-size: 14px;
font-weight: bold;
margin-bottom: 5px;

}
.ui-dialog .field-name-body {
overflow: hidden;
font-size: 12px;
color: #4F4D4D;
/*width: 64%;*/
}
.field-name-field-link .field-item a,.ui-dialog .views-field-type  {
  border-bottom: 1px dotted #015B75;
  color: #015B75;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

.field-name-field-link .field-item a:hover,.ui-dialog .views-field-type:hover {
	color: #fdba04;
	border-bottom: 1px dotted #fdba04;
}
.ui-dialog  .view-id-project{
	float: left;	
}
.ui-dialog  .view-id-project .views-row {
 	display: inline-block;
	margin-right: 5px;
}
.view-project .view-content:before {
	background: url("/sites/all/themes/omega3sub/images/more-pro.png") no-repeat scroll right center transparent;
	color: #484747;
	content: "עוד בפרויקט:";
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding-right: 20px;
}
/*
 * sidebar first block-menus
 * */
[class*=block-menus] .block-inner .content{
	border-right: 1.5px dotted #FA9403;
margin-bottom: 20px;
}
[class*=block-menus] .views-field-title a, 
[class*=block-menus] .views-field-title{
	color:#045971;
	cursor: pointer;
}

[class*=block-menus] .block-title,
[class*=block-menus] .views-field-title.active{
	color:#fa9403;
}
[class*=block-menus] .block-title{
border-bottom: 1.5px dotted #FA9403;	
}
#block-views-menus-block-7 .block-title {
  border-bottom: 1.5px dotted #547104;
  color: #547104 !important;
}
#block-views-menus-block-7 .block-inner .content{
	border-right: 1.5px dotted #547104; 
}

/*
 * block-contact
 * */
#block-block-2 a,#block-block-2 {
 color: #DA8E05;
font-weight: bold;
text-decoration: none;
}
#block-block-2 a[href*="facebook"] {
 background: url("/sites/all/themes/omega3sub/images/facebook.png") no-repeat scroll 0 0 transparent;
display: inline-block;
height: 24px;
text-indent: -9999px;
vertical-align: super;
width: 25px;
}
#block-block-2 a[href*="google"] {
  background: url("/sites/all/themes/omega3sub/images/google.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  height: 24px;
  width: 25px;
  text-indent: -9999px;
  vertical-align: super;
}
#block-block-2 {
  border-top: 2px dotted #0698C2;
}
/*
 * fotter
 * */
/*
 * footer
 * */
#zone-footer-wrapper{
	border-top: 2px solid #CFDCDC;
}
	
#region-footer-first{
	
left: 34px;
padding: 0 55px;
position: relative;
width: 925px;
}	
#block-block-1 {
  color: #EEAA2E;
}
#block-system-main-menu--2 .menu li a {
  color: #017B9E;
 }
 #block-system-main-menu--2 #contact {
  display: none;
}
#block-system-main-menu--2 #english:after  {
  content: "";
  }

#block-system-main-menu--2 .menu li a.active-i  {
  color: #EEAA2A !important;
}
/*
 * blog
 * */

.page-בלוג .logo-img,.page-בלוג .site-name {
  display: none;
}
.page-בלוג #block-system-main-menu {
  display: none;
}
#block-menu-menu-blog .menu li a {
  color: #024659;
    border-left: solid 1px white;
}
.page-בלוג #region-menu .menu li:not(.last) a:after {
  display: none;
}
.page-בלוג aside#region-sidebar-first{
	width:147px;
}
.page-בלוג #region-sidebar-second {
  margin-left: 0;
margin-right: 0;
width: 160px;
}
#block-menu-menu-blog .menu .last.leaf a {
    color: #F94496 !important;
}
.page-בלוג #region-content {
	border-left: 1px solid #5D5D5D;
	border-right: 1px solid #5D5D5D;
}
.page-בלוג .region-content-inner {
  padding: 0 15px 40px 15px;
}
.page-בלוג .views-summary li a {
  color: black;
font-size: 14px;
text-decoration: none;
}
.page-בלוג .item-list ul li:hover,
.page-בלוג .item-list ul li a:hover,
 .page-בלוג .item-list ul li.active a,
 .page-בלוג .item-list ul li.active {
  color: #fb1f6d;
}
#block-views-erchives-block, 
#block-views-blog-block {
  border-top: 1px dotted black;
margin-top: 20px;
padding-top: 11px;
}
.page-בלוג #edit-text {
background-position: -22px 0 !important;
border: medium none;
box-shadow: none !important;
height: 18px;
left: -6px;
padding-left: 30px;
padding-right: 5px;
padding-top: 0;
position: relative;
width: 94px;
}
.page-בלוג #edit-submit-test ,
.page-בלוג #edit-text {
  background: url("/sites/all/themes/omega3sub/images/search.jpg") no-repeat scroll 0 0 transparent;
}
#edit-text-wrapper{
	    display: inline !important;
    overflow: hidden !important;
    width: 93px !important;
}
.page-בלוג #edit-submit-test {
	border: medium none;
border-radius: 0 0 0 0;
font-size: 0;
height: 18px;
margin: 0;
padding: 0;
width: 23px;
float: none !important;
box-shadow: none !important;
}
.page-בלוג #edit-submit-test:active {
	box-shadow: none;
}

.views-exposed-form .views-exposed-widget .form-submit {
 margin: 0px; 
}

.page-בלוג .submitted {
  color: #3B3838;
font-size: 14px;
margin-bottom: 7px;
}
.page-בלוג .node-title {
  color: black;
font-size: 18px;
margin: 23px 0 33px;
}
  .page-בלוג aside .media-image {
  display: block;
  margin: 0 auto;
}
.page-בלוג .pager.clearfix {
  border-bottom: dotted 1px;
  padding-bottom: 24px;
  
}
.comment_amount {
	cursor: pointer;
}

.feed-icon.clearfix  {
  border-top: 1px dotted;
  margin-top: 31px;
  padding-top: 20px;
  }
  .feed-icon a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}
#block-block-6 .feed-icon > img {
  display: inline-block;
  padding-bottom: 3px;
  padding-right: 11px;
}

/*blog
 * search filters*/

#edit-created-wrapper,
#edit-tid-wrapper{
	display:none;
}
.comment_count .links{
	display:none;
}
.page-בלוג .view-test .views-row {
	border-bottom: 1px dotted;
	margin: 0 0 30px;
	padding: 0 0 20px;
}
.page-בלוג .view-test .media-image {
  max-width: 100%;
}
.page-בלוג .views-row .field-name-body {
	display: none ;
}
.page-בלוג .views-row .teaser {
	display: block ;
}
.page-בלוג .views-row:first-child .teaser {
  display: none !important;
}
.page-בלוג .views-row:first-child .field-name-body {
  display: block !important;
}
.page-בלוג article .teaser:after {
  content: "להמשך הקריאה בפוסט - - >";
  text-align: left;
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
#block-block-5 {
  bottom: 0;
  position: absolute;
  width: 95%;
}

/*about/studio */
.field-name-field-background img,
.field-name-field-background {
  width: 100%;
}
.page-node-187 #page-title,
.page-node-188 #page-title
{
  display: none;
}
#block-views-menus-block-6 .block-title {
  color: #fd0640 !important;
  border-bottom:1.5px dotted #fd0640; 
}
#block-views-menus-block-6 .block-inner .content{
	border-right: 1.5px dotted #fd0640; 
}
#block-views-menus-block-6 .views-field-title .active {
  color: #fd0640;
}
/*
 * about
 * */
/*		studio		*/
.node-about {
	position: relative;
}
.node-about .field-name-body {
    position: absolute;
top: 0;
}
#node-about-188  .field-name-body  {
background: url("/sites/all/themes/omega3sub/images/studio-bird.png") no-repeat scroll 570px 29px transparent;
min-height: 151px;
padding: 16px 197px 0 0;

width: 542px;
}
#node-about-188 .field-name-body .field-items{
	background: black;
	border-radius: 5px;
	
	font-size: 12px;
	color: white;
	position: relative;	
	/*border: 1px solid #7a676d;*/
		border-style: solid; 
	

}
#node-about-188 .field-name-body .field-items{	
	border:  1px solid #7A676D; 	
}
.field-items #arrow {
  position: absolute;
  right: -15px;
  top: 15px;
}
#node-about-188 .field-name-body .field-items .field-item {  
	-moz-border-image :url("/sites/all/themes/omega3sub/images/studio-border.png") 2 2 2 2 repeat repeat;
	-o-border-image: url("/sites/all/themes/omega3sub/images/studio-border.png") 2 2 2 2 repeat repeat;
	-webkit-border-image: url("/sites/all/themes/omega3sub/images/studio-border.png") 2 2 2 2 repeat repeat;
	border-image: url("/sites/all/themes/omega3sub/images/studio-border.png") 2 2 2 2 repeat repeat;
	    border-style: solid;
    border-width: 2px !important;
    letter-spacing: 1.5px;
    margin: 2.8px;
    padding: 0px 11px 5px 20px;
}
#node-about-188 .field-name-body .field-items .field-item p:first-child{
	margin-top: 0px;
}

#node-about-188 .field-name-body .field-items .field-item p{
	line-height: 16px;
margin-bottom: 10px;

}
#node-about-188 .field-name-body .field-items .field-item p:last-child{
	margin-bottom: 0px;
} 
.no-borderimage #node-about-188 .field-name-body .field-items .field-item {
    border-image:none;
    border:1px dotted #7a676d;
}

.page-node-188 .field-item a {
  color: white;
text-decoration: none;
}
/*
*node 187
*/
#node-about-187 table {
 font-size: 12px;
letter-spacing: 1.5px;
position: absolute;
right: 26px;
top: 26px;
width: 596px;
line-height: 5px;
}
#node-about-187 table tr:nth-child(n+2) td:first-child {
  width: 46%;
}
#node-about-187  table tr:first-child {
  height: 23px;
}
#node-about-187  table  tr:nth-child(2) {
  height: 170px;
}
#node-about-187  tr:nth-child(3) {
  height: 182px;
}
#node-about-187 tr:nth-child(4) td {
  padding-left: 124px;
}
