/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

/*
 * region-branding
 * 		+
 * site-name-slogan
 * */
#region-branding {
  max-height: 63px;
}
.site-name {
  margin-top: 17px;
}
.site-name-slogan {
  float: right;
margin-bottom: 12px;
margin-right: 59px;
}
#region-branding a {
  display: block;
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 0.9px;
  transform: scaleY(1.1);
}
.breadcrumb > a {
  display: none;
}
/*
 * Main menu
 * */
#region-menu.grid-12 {
	height: 30px;
	margin: 0;
	padding: 0;
	right: -30px;
	width: 1020px ;
	border-style: solid; 
	border-width: 1px 0px 0px; 
	-moz-border-image: url(/sites/all/themes/omega3sub/images/menu_border.png) 1 0 0 repeat; 
	-webkit-border-image: url(/sites/all/themes/omega3sub/images/menu_border.png) 1 0 0 repeat; 
	-o-border-image: url(/sites/all/themes/omega3sub/images/menu_border.png) 1 0 0 repeat; 
	border-image: url(/sites/all/themes/omega3sub/images/menu_border.png) 1 0 0 fill repeat;
	/*border-top:1px dotted gray;*/
}        
.region-footer-first-inner > div {
  display: inline-block;
  float: right;
}
#block-system-main-menu--2{
	float: left;
}
#region-menu .menu {
  padding: 0 93px 0 0;
}
.menu li{
	display: inline;
margin-right: 0;
padding-left: 0;
padding-top: 0;
margin-left: 3px;
}
.menu li a {
	text-decoration: none;
}
#region-menu  .menu li a {
font-size: 18px;
letter-spacing: 2px;
line-height: 24px;
}
.menu  li:not(.last) a:after{
padding-right: 4px;
}
#region-menu .menu li:nth-child(7){
	margin-right: 63.7px;
} 
#region-menu .menu li:nth-child(1n+7) a {
font-size: 16px;
letter-spacing: 0.7px;
}
#region-menu .menu li:nth-child(n+7) a:after {
  padding-right: 5px;
}
/*
 * block- contact
 * */
#block-block-2 {
	float: left;
	font-size: 11px;
          margin-top: 45px;
}

#block-block-2 p {
  padding-top: 9px;
}
/*
 * zone-content-wrapper
 * */
#zone-content-wrapper {
  padding-bottom: 20px;
}
.page-בלוג #zone-content-wrapper {
	 padding-bottom: 0px;
}
/*
 * section-content
 * */
#section-content {
  min-height: 330px;
}

.front #region-content.grid-12 {
  display: block;
  float: none;
  margin: 0 auto !important;
  width: 896px;
}
.front #region-content.grid-10 {
  margin: auto 5px;
width: 766px;
position: relative;
left: -30px;
}
/*
 * sidebar first
 * */
aside#region-sidebar-first {
  left: -7px;
margin-left: 0;
position: relative;
/*top: -11.6px;*/
width: 139px;
float: left;
}
[class*="block-menus"] .block-inner .content {
  min-height: 320px;
}
#region-sidebar-first [class*=block-menus]{
	text-align: left;
}
[class*=block-menus] .block-title{
	font-size: 18px;
font-weight: bold;
letter-spacing: 2.2px;
line-height: 24px;
margin-bottom: 12px;
margin-right: 12px;
padding-left: 8px;	
}
[class*=block-menus] .views-field-title {
  line-height: 11px;
margin:0 10px 5px;
position: relative;
top: -4px;
font-size:12px;
padding: 0 0px 5px ; 
border-bottom: dotted 1px #e7e8ea
}
[class*=block-menus] .views-field-title a{
	text-decoration: none;
}
/*
 * fotter
 * */
#block-block-1 {
  font-size: 12px;
}
#block-system-main-menu--2 .menu li a {
    font-size: 12px;
}
/*
 * .view-reshet
 * */
.view-reshet {
	padding:  7px 15px;
	min-height:330px;
}
.grid-10 .view-reshet {
padding: 7px  8px;
width:758px;
}
.isotope-element{		
	width: 104px ;
	height: 104px ;
	margin:0px;
	border:2px solid white;
}
/*
 * blog
 * */
.page-בלוג #region-branding {
  background: url("/sites/all/themes/omega3sub/images/header_blog.jpg") no-repeat scroll 0 0 / contain  transparent;
  max-height: 287px;
  height: 287px;
  margin: 0;
  width: 100%;
}

.page-בלוג #region-menu.grid-12 {
  border-image: url("/sites/all/themes/omega3sub/images/menu_border.png") 1 0 0 0 fill repeat repeat;
  border-style: solid;
  border-width: 1px 0 0;
  height: 30px;
  margin: 0;
  width: 100%;
  right: auto;
}
#block-menu-menu-blog .menu li a {
    font-size: 14px;
  
}
#block-menu-menu-blog .menu {
  padding: 0 13px 0 0;
}
#block-menu-menu-blog .menu li a {
  margin-left: 6px;
  padding-left: 4px;
}
#block-menu-menu-blog .menu .last.leaf a {
  border-left-width: 0;
font-size: 13px;
}
#block-menu-menu-blog .menu .last.leaf  {
float: left;
}
.page-בלוג .block-title {
display: inline-block;
font-size: 16px;
font-weight: normal;
padding-bottom: 15px;
padding-top: 2px;
}

.page-בלוג .item-list ul li {
  margin: 0;
font-size: 14px;
}
.page-בלוג .item-list ul li:hover, .page-בלוג .item-list ul li .active {
  color: #fb1f6d;

}

 
.page-בלוג #block-views-exp-test-page-1 > div,
.page-בלוג #block-views-exp-test-page-1 .block-inner, 
.page-בלוג #block-views-exp-test-page-1 .block-inner .content,
.page-בלוג #block-views-exp-test-page-1 form > div,
.page-בלוג #views-exposed-form-test-page-1  ,
.page-בלוג .views-exposed-form, 
.page-בלוג .views-exposed-widgets, 
.page-בלוג .views-submit-button, 
.page-בלוג #views-exposed-form-test-page-1 #edit-text-wrapper, 
.page-בלוג #views-exposed-form-test-page-1 #edit-text-wrapper div {
  display: inline !important;
float: none;
margin: 0;
padding: 0;
}
.page-בלוג .views-field-body {
	display:none;
}
#block-views-exp-test-page-1 .block-inner {
/*
  position: relative;
  right: -15px;*/

}
#block-views-exp-test-page-1 {
  margin-top: 16px;
}
/*blog
 * search filters*/
#edit-combine {
 width: 50%;     
}
/*
 * contact form 
 * */
#node-webform-189 {
  position: relative;
  background-color: black;
}
#webform-client-form-189 {
	color: white;
	font-size: 14px;
	position: absolute;
	right: 20px;
	top: 0;
}
#webform-client-form-189 input{
border: 1px solid #d5fs2fa;
border-radius: 3px;	
}
#webform-client-form-189 .form-item label {
  display: inline-block;
margin-right: 0;
width: 95px !important;
vertical-align: top;
}
.form-textarea-wrapper.resizable.textarea-processed.resizable-textarea {
  display: inline-block;
}
#webform-client-form-189 #webform-component-contact p >span{
	color: #ffa500;
}
#webform-client-form-189 #webform-component-contact #contact-info {
  font-size: 12px;
  text-align: left;
}
#webform-client-form-189 #webform-component-contact #contact-info a{
	color:white;
	text-decoration: none;
}
#webform-client-form-189 #webform-component-contact p:first-child {
  margin-bottom: 0px;
}
#webform-client-form-189 #webform-component-new-markup > p:first-child {
  font-size: 18px;
  font-weight: bold;
}

#webform-client-form-189 .webform-component input, 
#webform-client-form-189 .webform-component textarea {
  width: 310px;
  background-color: #595959;
}
#webform-client-form-189 .grippie{
	display: none;
}
#webform-client-form-189 #edit-actions {
  float: left;
}
#webform-client-form-189 #webform-component-contact {
  float: right;
}
.page-node-189 #page-title {
  display: none;
}
