#block-block-2,
#region-menu ,
#section-footer{
/*display:none;*/

}
body.responsive-layout-fluid  aside,
body.responsive-layout-fluid footer{
display:none !important;
}
body.responsive-layout-fluid #region-content{
	width: 100%;
	margin: auto 0px;
}
/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/* * {      
    max-width: 320px; 
} */
body, html{
  margin-left: auto !important;
    margin-right: auto !important;
    
 min-height:450px; 
}
body{
  background-color: #E1EFEF;
}
body.responsive-layout-fluid {
    max-width: 100%;
    overflow-x: hidden;
}
/* body.front #region-menu{
	position: absolute;
} */
body.responsive-layout-fluid {
  /*min-width: 100%;*/
}
/* body.responsive-layout-narrow .region ,
body.responsive-layout-narrow .zone {
    max-width: 320px;
} */
.container-12 .grid-12 {
    width: 320px;
}
.site-name-slogan {
  float: none;
}
h1.site-name, h2.site-name {
font-size: 17px ;
margin: 36px 5px 30px;
}
h1.site-name span, h2.site-name span{
	font-size: 16px ;
}
img#logo {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);    
    left: -7px;
    position: absolute;
    top: 8px;
}
.logo-img {
  background: none repeat scroll 0 0 #fdd341;
  border-radius: 50%;
  height: 80px;
  left: 5px;
  margin: 0;
  position: absolute;
  top: 5px;
  width: 80px;
}
.rotate{
	transform: rotate(360deg);
	transition-duration : 2s;
}
.region.grid-1, .region.grid-2, .region.grid-3, .region.grid-4, .region.grid-5, .region.grid-6, .region.grid-7, .region.grid-8, .region.grid-9, .region.grid-10, .region.grid-11, .region.grid-12 {
  /* margin: 0px; */
}
.responsive-layout-fluid #region-menu {
	bottom: 0;
	position: fixed;
	right: 0;
	width: 100%;
	z-index: 9;
	margin: 0px !important;
	padding: 0px !important;
}
/* menu */
#region-menu {
    background: none repeat scroll 0 0 #FDD341;
}
#block-system-main-menu .menu li:nth-child(n+7) {
display: inline;
margin: 0;
padding: 0;
}
#block-system-main-menu .menu li:nth-child(n+7) a{
  font-size: 16px;
}
#block-system-main-menu .menu li:first-child,
#block-system-main-menu .menu li:nth-child(n+11) {
  display: none ;
}

#block-system-main-menu .menu li:nth-child(8){
margin-right:10px;
}
/*
#block-system-main-menu .menu li:nth-child(n+7):after {
    content: ":";
}
#block-system-main-menu .menu li:nth-child(10):after {
    content: "";
}
* */
#block-system-main-menu .menu li:nth-child(n+7){
   display: none ;
}

#block-system-main-menu .menu li:nth-child(2) a,
#block-system-main-menu .menu li:nth-child(3) a,
#block-system-main-menu .menu li:nth-child(4) a,
#block-system-main-menu .menu li:nth-child(5) a,
#block-system-main-menu .menu li:nth-child(6) a{
	font-size: 20px;
	display: block;
}
#block-system-main-menu .menu li:nth-child(2) ,
#block-system-main-menu .menu li:nth-child(3) ,
#block-system-main-menu .menu li:nth-child(4) ,
#block-system-main-menu .menu li:nth-child(5) ,
#block-system-main-menu .menu li:nth-child(6) {
background: url("/sites/all/themes/omega3sub/images/icons_mobile.png") no-repeat scroll 0 0 #E1EFEF;
border-top: 2px solid #FFFFFF;
margin: 0;
padding: 8px 10px;
}
#block-system-main-menu .menu li:nth-child(2) {
 background-position: 5px 5px;
}
#block-system-main-menu .menu li:nth-child(3) {
 background-position: 5px -47px;
}
#block-system-main-menu .menu li:nth-child(4) {
 background-position: 5px -101px;
}
#block-system-main-menu .menu li:nth-child(5) {
 background-position: 5px -156px;
}
#block-system-main-menu .menu li:nth-child(6) {
 background-position: 5px -216px;
}

#menu-toggle{
    margin: 0 0 0 10px;
    z-index: 10;
    /* background: url('/sites/all/themes/omega3sub/images/icon-menu-down.png') no-repeat center center; */
}
#menu-toggle img{
        border: 1px solid #808080;
    border-radius: 3px;
    padding: 4px 5px;
    position: relative;
    top: -4px;
}
#menu-toggle.open img{
    box-shadow: 0 0 10px 0 #808080 inset;
}

/*#block-block-2*/

#block-block-2{
	background: none repeat scroll 0 0 #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	border: none;
}
#block-block-2 a[href^="mailto"] {
  background: url("/sites/all/themes/omega3sub/images/mail.gif") no-repeat scroll right center rgba(0, 0, 0, 0);
  display: inline-block;
  height: 21px;
  line-height: 22px;
  padding-right: 35px;
  color: #017B9E;
}
#about_mobile {
 color: #017B9E !important;
font-size: 14px;
margin-right: 7px;
ba
}
#about_mobile:before {
  content: ":";
  margin-left: 3px;
}
#block-block-2 a[href*="google"],
#block-block-2 a[href*="facebook"] {
  float: left;
  margin: 0 4px;
}
#block-block-2 span {
  display: none;
}
#block-block-2 p {
  margin-bottom: 0px;
}
.responsive-layout-fluid #block-block-2 a {
    padding-bottom: 5px;
    padding-top: 5px;
    background-position: right center !important;
}
/*.isotope-element */	
.view-reshet {
  background: white;
}
.isotope-element {
margin: .4%;
width: 24%;
z-index: 0;
}


 .ui-dialog .field-name-field-gallery img{
  height: auto;
    /* max-width: 100%;  */
       width: 100%;
}
.ui-dialog .field-items {
    max-width: 100%;
}
 /* about/studuo  */
.responsive-layout-fluid #node-about-188 .field-name-field-background img,.responsive-layout-fluid #node-about-188 .field-name-field-background {
  height: auto;
  transform: scaleY(1.07);
  transform-origin: center top 0;
  width: 122%;
}

.responsive-layout-fluid .field-name-body p {
	line-height: 19px !important;
margin-bottom: 0;
}
.responsive-layout-fluid .field-name-body .field-item {
    letter-spacing: 1px !important;
    padding: 6px !important;
}
.responsive-layout-fluid .field-name-body .field-item p:first-of-type {
padding-left: 8px !important;
}
.responsive-layout-fluid #node-about-188 .field-name-body {
    background-position: right 28px;
    background-size: 33% auto;
    padding: 6px 32% 0 0 !important;
    width: 65%;
    z-index: 2;
}
.responsive-layout-fluid #toggle:not(.close) {
display:none;
}
.responsive-layout-fluid #toggle.close {
	right: 28.9% !important;
	top: 21px !important;
	z-index: 10 !important;
}
.responsive-layout-fluid #close_btn {
  left: 7px !important;
  top: 7px !important;
  transform: scale(0.7);
  transform-origin: left top 0;
}
/*	node-about-213 */
.responsive-layout-fluid.page-node-213 .section-header {
background-color: #E1EFEF;
height: 100px;
position: relative;
z-index: 10;
}
.responsive-layout-fluid.page-node-213 .zone-content.container-12 {
  padding-top: 5px;
}
.responsive-layout-fluid.page-node-213{
	background-color:#000;

}
.responsive-layout-fluid.page-node-213 .field-name-body.field-type-text-with-summary.field-label-hidden {
  padding-bottom: 27px;
padding-right: 2px;
}
.responsive-layout-fluid.page-node-213 .field-name-body p {
	
text-align: right !important;
}
.responsive-layout-fluid.page-node-213 .field-name-body .field-item p:first-of-type {
    margin-bottom: 8px;
}
.responsive-layout-fluid #node-about-213 table td {
display: block;
    padding-left: 63%;
    padding-right: 10px;
}
.responsive-layout-fluid #node-about-213 table{
/*	background-color: black;*/
	right:0px;
  top: 0;
}
.responsive-layout-fluid.page-node-213 tr:last-child td {
  height: 80px;
 text-align: right !important;
 margin-top:14px;
}
.responsive-layout-fluid.page-node-213 .field-name-field-background.field-type-image {
    bottom: 34px;
    position: fixed;
}
/*  popup gallery*/
.responsive-layout-fluid #controls {
    display: block;
    top: 35%;
}
.responsive-layout-fluid #controls > div#next {
  transform: scale(0.8);
  transform-origin: left center 0;
}
.responsive-layout-fluid #controls > div#prev {
  transform: scale(0.8);
  transform-origin: right center 0;
}

